<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="e3e70e20-9582-4366-916d-df3145091cf2"
            Publisher="CN=dince_000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>cdttest</DisplayName>
    <PublisherDisplayName>dince_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="cdttest.App">
        <VisualElements
            DisplayName="cdttest"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="cdttest"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>